<h2 mat-dialog-title class="dialog-title">{{ data.title }}</h2>

<mat-dialog-content class="mat-dialog-content">
  <p>{{ data.message }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    type="button"
    class="dialog-cancel-button"
    mat-button
    mat-dialog-close
  >
    {{ data.cancelText || "No" }}
  </button>
  <button
    type="button"
    class="dialog-confirm-button"
    mat-button
    [mat-dialog-close]="true"
  >
    {{ data.confirmText || "Yes" }}
  </button>
</mat-dialog-actions>
