#gallery-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1.8em;
  height: 70em;

  & h1 {
    font-family: "Nexa Bold";
    align-self: flex-start;
    font-size: 3.2em;
    font-weight: 600;
    margin-top: 2em;
  }
}
#profile-gallery {
  width: 80%;
  height: 80%;
  background: transparent;
}

@media only screen and (max-device-width: 900px) {
  #gallery-tab {
    align-items: start;
    width: 100%;
    margin: 0;

    & h1 {
      font-size: 2.5em;
    }
  }
}
