#message-tab {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.8em;
  margin-bottom: 2vh;
  height: 70em;

  & h1 {
    font-family: "Nexa Bold";
    text-align: center;
    font-size: 3.2em;
    margin-top: 2em;
  }
}
.message-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
  height: 60em;
  flex-shrink: 0;
  overflow-y: auto;
  scrollbar-width: none;
}
.message-container::-webkit-scrollbar {
  display: none;
}
#send-message-form {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1em;
}
#send-message-input {
  width: 100%;
  font-size: 1.6em;
  padding: 1em;
  border: none;
  border-radius: 0.5em 0 0 0.5em;
  outline: none;
  resize: none;
  font-family: "Roboto Regular";
}
#send-message-button {
  cursor: pointer;
  font-family: "Nexa Bold";
  font-size: 1.8em;
  padding: 0.8em 1.8em;
  border-radius: 0 0.5em 0.5em 0;
}
