<div
  id="upload-post-popup"
  class="secondary-background rounded-border box-shadow"
>
  <div id="upload-post-popup-top">
    <div
      id="upload-post-popup-img-container"
      class="rounded-border theme-border"
    ></div>
    <input
      (click)="openUploadPostModal()"
      id="upload-post-popup-input"
      class="filter-inputs rounded-border"
      title="upload-post-popup"
      type="text"
      placeholder="What's on your mind?"
      readonly
    />
  </div>
  <div id="upload-post-popup-bottom" class="post-counts-borders">
    <div class="post-actions" (click)="openUploadPostModal()">
      <span class="material-symbols-rounded pen-and-photo-icons"> edit </span>
      <p class="pen-and-photo-text">Express Yourself</p>
    </div>
    <div class="post-actions" (click)="openUploadPostModal()">
      <span class="material-symbols-rounded pen-and-photo-icons"> photo </span>
      <p class="pen-and-photo-text">Upload a Photo</p>
    </div>
  </div>
</div>

<!-- Upload post form modal -->

<div id="upload-post-modal" *ngIf="isModalOpen">
  <form
    [@growShrink]="animationState"
    [formGroup]="uploadPostForm"
    (ngSubmit)="onSubmit()"
    id="upload-form"
    class="rounded-border secondary-background box-shadow rounded-border"
  >
    <span
      *ngIf="!isLoading"
      id="close-upload-post"
      class="material-symbols-rounded filled"
      (click)="closeUploadPostModal()"
    >
      close
    </span>
    <h1 id="upload-header">Create Your Post</h1>
    <label class="form-label edit-labels"> Profile Description*</label>
    <div class="relative">
      <textarea
        title="Description"
        type="text"
        rows="4"
        formControlName="description"
        class="form-input rounded-border edit-dropzone"
        [class.input-invalid]="
          uploadPostForm.get('description')?.touched &&
          uploadPostForm.get('description')?.invalid
        "
      ></textarea>
      <div
        *ngIf="uploadPostForm.get('description')?.hasError('maxlength')"
        class="validation-errors"
      >
        Post content cannot exceed 400 characters
      </div>
    </div>
    <label class="form-label edit-labels"> Upload Photo*</label>
    <ngx-dropzone
      (change)="onSelect($event)"
      (removedFile)="onRemove($event)"
      [accept]="'image/png, image/jpeg'"
      class="edit-dropzone rounded-border theme-border"
      id="upload-dropzone"
    >
      <ngx-dropzone-label>+</ngx-dropzone-label>
      <ngx-dropzone-image-preview
        ngProjectAs="ngx-dropzone-preview"
        *ngFor="let f of selectedFiles"
        [file]="f"
        [removable]="true"
        (removed)="onRemove(f)"
        class="ngx-dropzone-preview"
      >
      </ngx-dropzone-image-preview>
    </ngx-dropzone>
    <button
      type="submit"
      class="upload-submit reverse-parameters"
      [disabled]="
        uploadPostForm.invalid ||
        isLoading ||
        (!uploadPostForm.get('description')?.value?.trim() &&
          selectedFiles.length === 0)
      "
    >
      Upload Post
    </button>
  </form>
</div>
