<div
  id="upload-post-popup"
  class="secondary-background rounded-border box-shadow"
>
  <div id="upload-post-popup-top">
    <div
      id="upload-post-popup-img-container"
      class="rounded-border theme-border"
    ></div>
    <input
      (click)="openUploadPostModal()"
      id="upload-post-popup-input"
      class="filter-inputs rounded-border"
      title="upload-post-popup"
      type="text"
      placeholder="What's on your mind?"
      readonly
    />
  </div>
  <div id="upload-post-popup-bottom" class="post-counts-borders">
    <div class="post-actions" (click)="openUploadPostModal()">
      <span class="material-symbols-rounded pen-and-photo-icons"> edit </span>
      <p class="pen-and-photo-text">Express Yourself</p>
    </div>
    <div class="post-actions" (click)="openUploadPostModal()">
      <span class="material-symbols-rounded pen-and-photo-icons"> photo </span>
      <p class="pen-and-photo-text">Upload a Photo</p>
    </div>
  </div>
</div>

<!-- Upload post form modal -->

<div id="upload-post-modal">
  <form action="upload post"></form>
</div>
