<div id="message-tab" class="secondary-background rounded-border">
  <div #messageContainer class="message-container theme-border-bottom">
    <h1 *ngIf="messages.length === 0">No messages yet, say hi!</h1>
    @for (message of messages; track message.privateMessageId){
    <div class="message">
      <app-message-content
        [message]="message"
        [username]="username"
      ></app-message-content>
    </div>
    }
  </div>
  <form
    #messageForm="ngForm"
    (ngSubmit)="sendMessageThroughHub()"
    autocomplete="off"
    id="send-message-form"
  >
    <input
      id="send-message-input"
      class="comments-content-background header-text"
      name="messageContent"
      required
      [(ngModel)]="messageContent"
      placeholder="Send a private message..."
      type="text"
    />
    <button
      id="send-message-button"
      class="reverse-parameters"
      [disabled]="!messageForm.valid"
      type="submit"
    >
      Send
    </button>
  </form>
</div>
