<router-outlet></router-outlet>
<!-- <section id="games-section-container">
  <div
    id="game-selection-container"
    class="secondary-background rounded-border box-shadow"
  >
    <div id="playlink-gaming-text">
      <h1>PlayLink Gaming</h1>
    </div>
    <a routerLink="/games/hollow-x-hollow" class="games">
      <img src="../../assets/images/games/hxh_img.jpg" alt="HxH Preview" />
    </a>
    <a routerLink="/games/playsketch-portable" class="games">
      <img
        src="../../assets/images/games/psp_img.jpg"
        alt="PlaySketch Preview"
      />
    </a>
    <a routerLink="/games/rock-paper-scissors" class="games">
      <img src="../../assets/images/games/rps_img.jpg" alt="RPS Preview" />
    </a>
  </div>
</section> -->
