@import "ngx-toastr/toastr";
@import "themes";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$primaryColor: #3d3a3a;

@font-face {
  font-family: "Nexa Bold";
  src: url("./assets/fonts/nexa-bold-webfont.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nexa Light";
  src: url("./assets/fonts/nexa-light-webfont.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("./assets/fonts/roboto-regular-webfont.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("./assets/fonts/roboto-medium-webfont.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  -webkit-user-select: none;
  user-select: none;
}
.material-symbols-rounded.filled,
.material-symbols-rounded.active {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
//global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-size: 10px;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:active {
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img,
embed,
object,
video {
  max-width: 100%;
  height: auto;
}
button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

//scrollbar styles
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $primaryColor;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f0f2f5;
}

::-moz-scrollbar {
  width: 6px;
}

::-moz-scrollbar-thumb {
  background-color: $primaryColor;
  border-radius: 5px;
}

::-moz-scrollbar-track {
  background-color: #f0f2f5;
}

::-ms-scrollbar {
  width: 6px;
}

::-ms-scrollbar-thumb {
  background-color: #f0f2f5;
  border-radius: 5px;
}

::-ms-scrollbar-track {
  background-color: $primaryColor;
}

.rounded-border {
  border-radius: 0.5em;
}

//toastr styles
.toast-error,
.toast-success,
.toast-info {
  background-color: #3a3b3c !important;
  border: 3px solid white !important;
  font-size: 18px !important;
  letter-spacing: 1px !important;
  font-family: "Nexa Bold" !important;
}
.toast-error .error-number,
.toast-error .error-text,
.toast-success .success-text,
.toast-info .info-text {
  margin-left: 20px !important;
}
.toast-progress {
  background-color: #d0d2d6 !important;
  opacity: 0.9 !important;
}
.toast-container .ngx-toastr {
  background-size: 35px !important;
  padding: 15px 15px 15px 65px !important;
}
.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 8px #000000 !important;
}
@media screen and (max-width: 767px) {
  *:focus {
    outline: none;
  }
  * {
    -webkit-tap-highlight-color: transparent;
  }
}
