$light-theme: (
  background: #f0f2f5,
  background-secondary: white,
  primary-text: #3a3b3c,
  secondary-text: #777777,
  header-icons: #b8bbbf,
);

$dark-theme: (
  background: #18191a,
  background-secondary: #242526,
  primary-text: #d0d2d6,
  secondary-text: #b0b0b0,
  header-icons: #b8bbbf,
);

// Theme classes
.theme-light {
  background-color: map-get($light-theme, background);
  color: map-get($light-theme, primary-text);

  .secondary-background {
    background-color: map-get($light-theme, background-secondary);
  }
  .secondary-text {
    color: map-get($light-theme, secondary-text);
  }
  .header-icons-middle {
    color: map-get($light-theme, primary-text);
  }
  .logo-text-theme {
    color: map-get($light-theme, primary-text);
  }
  .header-icons-right {
    background-color: #d8dadf;
  }
  .box-shadow {
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.1),
      0 0.1em 0.1em rgba(0, 0, 0, 0.05);
  }
  .theme-border {
    border: 0.1em solid #3d3a3a27;
  }
  //navigation links themes light
  .navigation-links-icons-container:hover {
    background-color: #f2f2f2;
  }
  .dropdown-section:hover {
    background-color: #f2f2f2;
  }
  .active .navigation-links-icons-container:hover {
    background-color: transparent;
  }
  .active .material-symbols-rounded {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  }
  .active.navigation-links-container.bottom-border-active {
    border-bottom: 0.3em solid #3a3b3c;
  }
}

.theme-dark {
  background-color: map-get($dark-theme, background);
  color: map-get($dark-theme, primary-text);

  .secondary-background {
    background-color: map-get($dark-theme, background-secondary);
  }
  .logo-text-theme {
    color: white;
  }
  .secondary-text {
    color: map-get($dark-theme, secondary-text);
  }
  .header-icons-right {
    background-color: #4e4f50;
    color: #e7e9ed;
  }
  .theme-border {
    border: 0.1em solid #3d3a3a;
  }
  //navigation links themes dark
  .header-icons-middle {
    color: map-get($dark-theme, header-icons);
  }
  .navigation-links-icons-container:hover {
    background-color: #3a3b3c;
  }
  .dropdown-section:hover {
    background-color: #3a3b3c;
  }
  .active .navigation-links-icons-container:hover {
    background-color: transparent;
  }
  .active .material-symbols-rounded {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
    color: white;
  }
  .active.navigation-links-container.bottom-border-active {
    border-bottom: 0.3em solid white;
  }
}
.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.material-symbols-rounded.active {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.rounded-border {
  border-radius: 0.5em;
}
