# See http://help.github.com/ignore-files/ for more about ignoring files.

.editorconfig
# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
client/dist

# Node
client/core/node_modules
client/core/npm-debug.log
client/core/yarn-error.log
client/core/dist

# IDEs and editors
client/core/.idea/
client/core/.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.idea/
*.suo
*.user

# Visual Studio Code
client/core/.vscode
client/core/!.vscode/settings.json
client/core/!.vscode/tasks.json
client/core/!.vscode/launch.json
client/core/!.vscode/extensions.json
client/core/.history/*
client/core/ssl

# Miscellaneous
client/core/.angular/cache
client/core/.sass-cache/
client/core/connect.lock
client/core/coverage
client/core/libpeerconnection.log
client/core/testem.log
client/core/typings

# System files
.DS_Store
Thumbs.db

# .NET specific
**/[Bb]in/
**/[Oo]bj/
*.csproj.user
*.dll
*.exe
*.pdb
*.cache
*.suo
server/WebAPI/Logs/
server/WebAPI/obj/
server/WebAPI/bin/

# Visual Studio specific
.vs/

**/bin/
**/obj/

# Producition compose setup
build/docker/docker-compose.yml
.env
build/docker/config/nginx.conf
client/core/Dockerfile
client/core/robots.txt