# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
client/node_modules
client/npm-debug.log
client/yarn-error.log
client/dist

# IDEs and editors
client/.idea/
client/.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
client/!.vscode/settings.json
client/!.vscode/tasks.json
client/!.vscode/launch.json
client/!.vscode/extensions.json
client/.history/*
client/ssl

# Miscellaneous
client/.angular/cache
client/.sass-cache/
client/connect.lock
client/coverage
client/libpeerconnection.log
client/testem.log
client/typings

# System files
.DS_Store
Thumbs.db

# .NET specific
**/[Bb]in/
**/[Oo]bj/
*.csproj.user
*.dll
*.exe
*.pdb
*.cache
*.suo
server/WebAPI/Logs/
server/WebAPI/obj/
server/WebAPI/bin/
server/WebAPI/Properties/launchSettings.json
server/WebAPI/appsettings.json
server/WebAPI/appsettings.Development.json
server/WebAPI/wwwroot/
server/WebAPI/wwwroot/assets

# Visual Studio specific
.vs/

# Cloudinaty access keys
server/Infrastructure/CloudinaryAccessKeys.json

client/src/app/features/portal/data