<Form
  id="upload-comment-form"
  [formGroup]="uploadCommentForm"
  (ngSubmit)="onSubmit()"
>
  <app-user-avatar
    id="comment-upload-user-avatar"
    [profilePictureUrl]="avatar.profilePictureUrl"
    [fullName]="avatar.fullName"
    [gender]="avatar.gender"
  ></app-user-avatar>
  <div class="upload-input-container">
    <input
      id="upload-comment-input"
      class="comments-content-background rounded-border filter-inputs"
      type="text"
      title="content"
      placeholder="Write a comment..."
      formControlName="content"
      [class.input-invalid]="
        uploadCommentForm.get('content')?.touched &&
        uploadCommentForm.get('content')?.invalid
      "
    />
    <p
      *ngIf="uploadCommentForm.get('content')?.hasError('maxlength')"
      class="validation-errors z2"
    >
      Comment content cannot exceed 300 characters
    </p>
    <button
      id="upload-comment"
      type="submit"
      [disabled]="uploadCommentForm.invalid || isLoading"
    >
      <span class="material-symbols-rounded filter-inputs upload-comment-icon">
        send
      </span>
    </button>
  </div>
</Form>
