#games-section-container {
  display: flex;
  justify-content: center;
  gap: 2em;
  width: 100vw;
}
#game-selection-container {
  background-image: url("/assets/images/games/games_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 2em;
  margin-bottom: 1em;
  padding: clamp(2em, 2vh, 4em) 0;
  width: 68em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.games {
  position: relative;
  height: clamp(22em, 26.5vh, 28em);
  aspect-ratio: 2/1;
  border: 0.2em solid #4c4a4a;
  border-radius: 0.5em;
  overflow: hidden;
}
.games img {
  height: 100%;
  width: 100%;
}
#playlink-gaming-text {
  height: 10vh;
  width: 100%;
  display: none;
  font-family: "Nexa Bold";
  justify-content: center;
  align-items: center;
}
// games tab left

#games-tab-left {
  margin-top: 2em;
  width: 47em;
  padding: 2em;
  align-self: flex-start;
}

// games tab right

#games-tab-right {
  font-family: "Roboto Regular";
  margin-top: 2em;
  width: 47em;
  padding: 2em;
  align-self: flex-start;
}
#astrofit-ad {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5em;
}

#ad-top {
  display: flex;
  justify-content: space-between;
  margin: 0 0.4em;

  & > h1 {
    font-size: 2em;
  }

  & > p {
    font-size: 1.4em;
    margin-top: 0.3em;
  }
}
#astrofit-ad-img {
  width: 100%;
  border-radius: 1em;
}
#ad-bottom-header {
  display: flex;
  justify-content: space-between;
  margin: 0 0.4em;

  & > h2 {
    font-size: 1.6em;
    font-weight: 100;
  }

  & > p {
    font-size: 1.4em;
    margin-top: 0.3em;
  }
}
#astrofit-slogan {
  font-size: 1.4em;
}

@media (min-width: 2400px) {
  #games-section-container {
    font-size: 13px;
  }
}
@media (max-width: 1400px) {
  #games-tab-left,
  #games-tab-right {
    display: none;
  }
}
@media (max-width: 900px) {
  .games {
    height: auto;
    width: 90%;
  }
  #playlink-gaming-text {
    display: flex;
  }
  #playlink-gaming-text > h1 {
    font-size: clamp(2em, 10vw, 7em);
    letter-spacing: 0.03em;
  }
}
@media (max-width: 680px) {
  #game-selection-container {
    margin: 0;
    width: 100vw;
  }
}
