<div *ngIf="user" class="admin-user-display-container theme-border-bottom">
  <a routerLink="/user/{{ user.username }}" class="username-and-avatar">
    <app-user-avatar
      class="admin-user-avatar"
      [profilePictureUrl]="user.profilePictureUrl"
      [fullName]="user.fullName"
      [gender]="user.gender"
    ></app-user-avatar>
    <div class="admin-name-created">
      <h2 class="admin-user-fullname">{{ user.fullName }}</h2>
      <p class="created">Member since: {{ user.created | relativeTime }}</p>
    </div>
  </a>
  <button
    type="button"
    *ngIf="user.isModerator"
    (click)="editRole(user.appUserId)"
    class="role-edit primary parameters theme-border header-text box-shadow"
  >
    Moderator
  </button>
  <button
    type="button"
    *ngIf="!user.isModerator"
    (click)="editRole(user.appUserId)"
    class="role-edit reverse-parameters"
  >
    Member
  </button>

  <button
    type="button"
    (click)="deleteUser(user.appUserId)"
    class="delete-user-button rounded-border"
  >
    Delete
  </button>
</div>
