.admin-user-display-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em 0;
}
.username-and-avatar {
  display: flex;
  align-items: center;
  width: 30%;
  gap: 1em;
  flex-shrink: 0;
}
.admin-user-avatar {
  height: 5.2em;
  width: 5.2em;
}
.admin-user-fullname {
  font-size: 1.8em;
}
.created {
  font-size: 1.6em;
}
.role-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0;
  font-size: 2em;
  width: 8em;
  border-radius: 0.2em;
}
.delete-user-button {
  font-family: "Roboto Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
  font-size: 2em;
  width: 5em;
  background-color: rgba(255, 0, 0, 0.651);
  color: white;
  border-radius: 0.15em;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}
@media screen and (max-width: 750px) {
  .username-and-avatar {
    width: 25em;
  }
  .admin-user-fullname {
    font-size: 1.6em;
  }
  .created {
    font-size: 1.4em;
  }
  .role-edit {
    font-size: 1.8em;
    width: 6em;
  }
  .delete-user-button {
    font-size: 1.8em;
    width: 4em;
  }
}
@media screen and (max-width: 480px) {
  .username-and-avatar {
    width: 20em;
  }
  .admin-user-fullname {
    font-size: 1.4em;
  }
  .created {
    font-size: 1.2em;
  }
  .role-edit {
    font-size: 1.6em;
    width: 5em;
  }
  .delete-user-button {
    font-size: 1.6em;
    width: 3.5em;
  }
}
