.admin-user-display-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em 0;
}
.username-and-avatar {
  display: flex;
  align-items: center;
  width: 30%;
  gap: 2em;
}
.admin-user-avatar {
  height: 5.2em;
  width: 5.2em;
}
.admin-user-fullname {
  font-size: 1.8em;
}
.role-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0;
  font-size: 2em;
  width: 8em;
  border-radius: 0.2em;
  cursor: pointer;
}
.delete-user-button {
  cursor: pointer;
  font-family: "Roboto Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
  font-size: 2em;
  width: 5em;
  background-color: rgba(255, 0, 0, 0.651);
  color: white;
  border-radius: 0.15em;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}
