.home-user-card {
  font-family: "Roboto Regular";
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 47em;
}
.avatar-name-created-gender {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar-name-created {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
#home-user-card-avatar {
  font-size: 1.1em;
  height: 5.2em;
  width: 5.2em;
  flex-shrink: 0;
}
.name-created {
  display: flex;
  flex-direction: column;
  gap: 0.2em;

  h1 {
    font-size: 2.4em;
  }

  p {
    font-size: 1.6em;
    opacity: 0.8;
  }
}
.edit-profile {
  font-size: 4.2em;
  cursor: pointer;
}
#country-and-birthday {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  padding: 1.5em 0;

  .country,
  .birthday {
    display: flex;
    align-items: flex-end;
    gap: 0.6em;
  }
  .country {
    gap: 0.4em;
    transform: translateX(-0.4em);
  }
  .country-bd-text {
    font-size: 1.8em;
    opacity: 0.9;
  }
  .country-bd-icon {
    font-size: 2.8em;
    height: 1em;
    width: 1em;
  }
}

#home-user-card-loading {
  display: flex;
  flex-direction: row;
  gap: 2em;
  height: 17.5em;

  h1 {
    margin-top: 0.3em;
    font-size: 2.4em;
  }
}
.avatar-placeholder {
  font-size: 1.1em;
  height: 5.2em;
  width: 5.2em;
  display: flex;
  justify-content: center;
  align-items: center;

  .placeholder-icon {
    font-size: 4.2em;
  }
}
