<div
  class="home-user-card secondary-background rounded-border box-shadow"
  *ngIf="user$ | async as user; else loading"
>
  <div class="avatar-name-created-gender">
    <a routerLink="/user/{{ user.username }}" class="avatar-name-created">
      <app-user-avatar
        id="home-user-card-avatar"
        [profilePictureUrl]="user.profilePictureUrl"
        [fullName]="user.fullName"
        [gender]="user.gender"
      ></app-user-avatar>
      <div class="name-created">
        <h1>{{ user.fullName }}</h1>
        <p>Member Since: {{ user.created | relativeTime }}</p>
      </div>
    </a>
    <span
      routerLink="/user/{{ user.username }}/edit"
      class="material-symbols-rounded edit-profile header-text filled"
    >
      manage_accounts
    </span>
  </div>
  <div id="country-and-birthday" class="theme-border-bottom theme-border-top">
    <div class="country">
      <span class="material-symbols-rounded filled country-bd-icon header-text">
        location_on
      </span>
      <span class="country-bd-text">{{ user.country }}</span>
    </div>
    <div class="birthday">
      <span class="material-symbols-rounded filled country-bd-icon header-text">
        cake
      </span>
      <span class="country-bd-text">{{
        user.dateOfBirth | date : "mediumDate"
      }}</span>
    </div>
  </div>
</div>

<!-- Loading placeholder -->

<ng-template #loading>
  <div
    class="home-user-card secondary-background rounded-border box-shadow"
    id="home-user-card-loading"
  >
    <div class="avatar-placeholder primary-parameters rounded-border">
      <span
        class="material-symbols-rounded filled placeholder-icon header-text"
      >
        person
      </span>
    </div>
    <h1>Loading user...</h1>
  </div>
</ng-template>
