#gallery-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1.8em;
  margin-bottom: 2vh;
  height: 70em;

  & h1 {
    align-self: flex-start;
    font-size: 4.2em;
    font-weight: 600;
    margin-top: 2em;
  }
}
#profile-gallery {
  width: 80%;
  height: 80%;
  background: transparent;
}
