<section id="messages-section-container">
  <div
    id="messages-left"
    class="secondary-background rounded-border box-shadow"
  ></div>

  <div
    id="messages-middle"
    class="secondary-background rounded-border box-shadow"
  >
    <mat-button-toggle-group
      name="options"
      aria-label="Select an option"
      id="message-buttons"
      [(ngModel)]="container"
    >
      <mat-button-toggle
        *ngFor="let button of buttons"
        (click)="loadMessages()"
        class="messages-buttons button-toggle"
        [value]="button.value"
      >
        <div class="messages-button">
          <h1>{{ button.label }}</h1>
          <span class="material-symbols-rounded filled messages-icons">{{
            button.icon
          }}</span>
        </div>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <div id="messages-content-container">
      <h1 id="messages-content-header" class="header-text">
        {{ container }} Messages:
        {{ (pagination?.totalItems ?? 0) - messageCountController }}
      </h1>
      <div
        class="messages"
        *ngFor="
          let message of messages
            | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: pageNumber,
                  totalItems: pagination?.totalItems
                }
        "
      >
        <app-message-display
          (messageDeleted)="onMessageDelete($event)"
          [container]="container"
          [message]="message"
        ></app-message-display>
      </div>
    </div>
    <div id="paginator">
      <pagination-controls
        class="pagination-controls logo-text-theme"
        (pageChange)="pageChanged($event)"
        (pageBoundsCorrection)="pageChanged($event)"
        previousLabel="<"
        nextLabel=">"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"
      >
        ></pagination-controls
      >
    </div>
  </div>

  <div
    id="messages-right"
    class="secondary-background rounded-border box-shadow"
  >
    <app-online-users-list></app-online-users-list>
  </div>
</section>
