<h1>Log into your account</h1>
<form id="login-form">
  <div class="input-container">
    <label for="userName">Username*</label>
    <input
      type="userName"
      id="userName"
      name="userName"
      required
      autocomplete="none"
    />
  </div>
  <div class="input-container">
    <label for="password">Password*</label>
    <input
      type="password"
      id="password"
      name="password"
      required
      autocomplete="none"
    />
  </div>

  <button type="submit" class="login-btn">Login</button>
</form>

<button class="guest-login"><u>Guest Login</u></button>
