.comment-container {
  display: flex;
  width: 100%;
  gap: 1em;
  font-family: "Roboto Regular";
}
#comment-user-avatar {
  margin-top: 0.2em;
  font-size: 0.85em;
  height: 5.2em;
  width: 5.2em;
}

.comment-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5em;
}
.comment-name-and-content {
  position: relative;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding: 1em 1.5em;
  gap: 0.3em;
  min-width: 20em;
}
.comment-user-name {
  font-size: 1.6em;
}
.comment-content {
  font-size: 1.6em;
  line-height: 1.4;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.comment-bottom {
  display: flex;
  gap: 1.2em;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  margin-left: 0.4em;
}
.comment-date {
  font-size: 1.4em;
}
.comment-likes-container {
  display: flex;
  align-items: center;
  gap: 0.2em;
}
.comment-count-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.8em;
  cursor: pointer;
}
.comment-likes-count {
  font-size: 1.4em;
}

.comment-icon-close {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  font-size: 2.4em;
  cursor: pointer;
}
