<div
  *ngIf="user"
  id="user-profile-details-container"
  class="secondary-background rounded-border box-shadow"
>
  <div
    id="profile-picture-container"
    class="theme-border rounded-border header-icons-right"
  >
    <img
      *ngIf="user.profilePictureUrl"
      [ngSrc]="
        user.profilePictureUrl
          | relativeUrl : 'https://res.cloudinary.com/dsdleukb7'
      "
      height="400"
      width="400"
      preconnect="true"
      priority
      alt="{{ user.fullName }}'s picture"
      id="profile-img"
    />
    <span
      *ngIf="!user.profilePictureUrl"
      class="material-symbols-rounded filled card-avatar-icon"
    >
      {{ user.gender === "male" ? "person" : "person_2" }}
    </span>
    <ng-container
      *ngIf="
        (presenceService.onlineUsers$ | async)?.includes(user.appUserId);
        else offline
      "
    >
      <div class="theme-border is-online current-status">Online</div>
    </ng-container>
    <ng-template #offline>
      <div class="theme-border current-status">Offline</div>
    </ng-template>
    <button
      *ngIf="user.authorized && user.profilePictureUrl"
      (click)="moderatePicture()"
      id="picture-moderation"
      class="theme-border"
    >
      <span class="material-symbols-rounded filled moderator-icon">
        shield_person
      </span>
    </button>
  </div>
  <div id="profile-content-container">
    <h1 class="for-now-1">{{ user.fullName }}</h1>
    <h1 class="for-now">About Me</h1>
    <p class="for-now">{{ user.description }}</p>
    <h1 class="for-now">LOCATION</h1>
    <p class="for-now">{{ user.country }}</p>
    <h1 class="for-now">Birthday</h1>
    <p class="for-now">{{ user.dateOfBirth }}</p>

    <div
      [ngSwitch]="friendshipStatus"
      *ngIf="!isCurrentUserProfile"
      id="button-container"
    >
      <button
        *ngSwitchCase="'None'"
        class="theme-border rounded-border box-shadow for-now-buttons reverse-parameters"
        (click)="addFriend()"
      >
        <span class="for-now">Add Friend</span>
      </button>

      <button
        *ngSwitchCase="'Pending'"
        class="theme-border rounded-border box-shadow for-now-buttons reverse-parameters"
      >
        <span class="for-now">Pending</span>
      </button>

      <button
        *ngSwitchCase="'Friends'"
        class="theme-border rounded-border box-shadow for-now-buttons reverse-parameters"
        (click)="removeFriend()"
      >
        <span class="for-now">Friends</span>
      </button>
    </div>

    <button
      *ngIf="isCurrentUserProfile"
      class="theme-border rounded-border box-shadow for-now-buttons reverse-parameters"
      [routerLink]="['/user', user.username, 'edit']"
    >
      <span class="for-now">Edit Profile</span>
    </button>
  </div>
</div>
