.user-img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.user-img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.icon-person {
  font-size: 5em;
}
