#discover-section-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  gap: 2em;
}
#discover-left {
  font-family: "Nexa Bold";
  margin-top: 2em;
  width: 47em;
  padding: 1em;
  align-self: flex-start;
}

#discover-middle {
  margin-top: 2em;
  width: 68em;
}
.discover-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  padding: 2em;
}
#matched-users {
  font-family: "Nexa Bold";
  display: flex;
  justify-content: center;
  font-size: 4em;
  margin: 1em 0 0.5em 0;
}
#paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nexa Bold";
  font-weight: 900;
  font-size: 3.3em;
  margin: 0.7em 0 0.5em 0;
}

.pagination-controls ::ng-deep .ngx-pagination .current {
  background-color: #f5f5f5;
  color: #18191a;
  border: 0.1em solid #18191a;
  border-radius: 0.2em;
}
.pagination-controls ::ng-deep .ngx-pagination a {
  color: #18191a;
  border-radius: 0.1em;
  -webkit-text-stroke: 0.015em #cacaca;

  &:hover {
    background-color: #cacaca58;
  }
}

.pagination-controls ::ng-deep .pagination-previous a:hover,
.pagination-controls ::ng-deep .pagination-next a:hover {
  background-color: transparent;
}

.dummy-card {
  width: 20em;
  height: 26em;
}

#discover-right {
  margin-top: 2em;
  padding: 2em 1em;
  width: 47em;
  align-self: flex-start;
  font-family: "Nexa Bold";
}
#filter-form {
  display: flex;
  flex-direction: column;
}
#age-gender-filters-container {
  display: flex;
  gap: 1em;
  justify-content: center;
}
#age-filters-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter-label {
  align-self: flex-start;
  font-size: 2.2em;
  margin-left: 0.2em;
  margin-bottom: 0.5em;
}
#age-filter-inputs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;

  & p {
    font-size: 3em;
  }
}
.filter-inputs {
  font-family: "Nexa Bold";
  font-size: 1.84em;
  padding: 0.5em;
  width: 100%;
  border-radius: 0.25em;
}
#gender-filters-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

#filter-buttons-container {
  margin-top: 1.8em;
  display: flex;
  justify-content: center;
  gap: 1em;
}
.filter-button {
  font-family: "Nexa Bold";
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2.2em;
  padding: 0.5em 0em;
  border-radius: 0.2em;
  letter-spacing: 0.04em;
}

#order-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.2em;
  border: none;
  padding: 0;
}
.order-button {
  font-family: "Nexa Bold" !important;
  display: flex;
  justify-content: center;
  width: 50%;
  font-size: 1.8em;
  padding: 0em;
  margin: 0em;
  border-radius: 0.2em;
}
#order-buttons
  .mat-button-toggle-appearance-standard
  .mat-button-toggle-label-content {
  padding: 0em 0em !important;
}

@media (min-width: 2400px) {
  #discover-section-container {
    font-size: 13px;
  }
  .order-button {
    padding: 0.2em 0 !important;
  }
}
@media (max-width: 1680px) {
  #discover-section-container {
    flex-direction: column;
    align-items: center;
  }
  #discover-right {
    display: none;
  }
  #discover-right.visible-mobile-filter {
    display: flex;
    position: fixed;
    justify-content: center;
    z-index: 10000;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #18191a45;

    #filter-form {
      width: 100%;
      margin-top: 15vh;
      padding: 3em 2em;
      max-width: 600px;
      align-self: flex-start;

      #country option {
        font-size: 0.7em;
      }
    }
  }

  #discover-left {
    align-self: center;
    width: 68em;
  }
}
@media (max-width: 900px) {
  #discover-section-container {
    gap: 0.5em;
  }
  #discover-middle,
  #discover-left {
    margin: 0;
    border-radius: 0;
    width: 100%;
  }
  #discover-left {
    margin: 0;
  }
  .discover-cards-container {
    font-size: 2.2vw;
  }
  #matched-users {
    font-size: 6vw;
  }
  .discover-cards-container {
    padding: 2em 1em;
  }
  #paginator {
    font-size: 2.5em;
  }
}
