#nearest-bd-users-list {
  display: flex;
  flex-direction: column;
}
#nearest-bd-header {
  font-family: "Nexa Bold";
  display: flex;
  justify-content: center;
  gap: 0.3em;
  font-size: 2.8em;
  padding: 0.5em 0;
  padding-top: 0.4em;

  h1 {
    padding-top: 0.05em;
    font-size: 1em;
  }

  .nearest-bd-icon {
    font-size: 1.1em;
  }
}
.loading-error-text {
  font-size: 1.8em;
  padding: 1em 2.2em;
  font-family: "Roboto Regular";
}
