<div *ngIf="message" class="message-content-container theme-border-bottom">
  <div
    class="sender-avatar-container header-icons-right theme-border rounded-border"
  >
    <img
      *ngIf="message.senderProfilePictureUrl"
      src="{{ message.senderProfilePictureUrl }}"
      alt="{{ message.senderFullName }}"
      class="sender-img"
    />
    <span class="material-symbols-rounded filled sender-icon-person">
      {{ message.senderGender === "male" ? "person" : "person_2" }}
    </span>
  </div>

  <div
    class="sender-message-content-container comments-content-background rounded-border"
  >
    <div class="sender-name-and-time">
      <h2 class="sender-name">{{ message.senderFullName }}</h2>
      <p class="sent-date">
        {{ message.privateMessageSent | relativeTime }}
      </p>
    </div>

    <div class="sender-message-content">
      {{ message.content }}
    </div>
    <p *ngIf="message.dateRead" class="sender-message-date">
      <b>Seen </b>{{ message.dateRead | timeAgo }}
    </p>
  </div>
</div>
