<div
  *ngIf="message"
  [ngClass]="{ 'current-user': message.senderUsername !== username }"
  class="message-content-container theme-border-bottom"
>
  <app-user-avatar
    id="pm-user-avatar"
    [profilePictureUrl]="message.senderProfilePictureUrl"
    [fullName]="message.senderFullName"
    [gender]="message.senderGender"
  ></app-user-avatar>

  <div
    class="sender-message-content-container comments-content-background rounded-border"
  >
    <div class="sender-name-and-time">
      <h2 class="sender-name">{{ message.senderFullName }}</h2>
      <p class="sent-date">
        {{ message.privateMessageSent | timeago }}
      </p>
    </div>

    <div class="sender-message-content">
      {{ message.content }}
    </div>
    <p
      *ngIf="message.dateRead && message.senderUsername !== username"
      class="sender-message-date"
    >
      <b>Seen </b>{{ message.dateRead | timeago }}
    </p>
  </div>
</div>
