<div
  id="dropdown-container"
  class="secondary-background box-shadow rounded-border theme-border"
>
  <a (click)="navigateToEditProfile()" class="dropdown-section rounded-border">
    <div class="dropdown-left">
      <div
        class="header-icons-right header-icons-dropdown-container theme-border"
      >
        <span class="material-symbols-rounded filled"> person </span>
      </div>
      <span class="dropdown-title">Edit Profile</span>
    </div>
    <span class="material-symbols-rounded filled dropdown-arrow">
      navigate_next
    </span>
  </a>
  <a routerLink="/about-site" class="dropdown-section rounded-border">
    <div class="dropdown-left">
      <div
        class="header-icons-right header-icons-dropdown-container theme-border"
      >
        <span class="material-symbols-rounded filled"> question_mark </span>
      </div>
      <span class="dropdown-title">About Site</span>
    </div>
    <span class="material-symbols-rounded filled dropdown-arrow">
      navigate_next
    </span>
  </a>
  <button
    type="button"
    (click)="logout()"
    class="dropdown-section rounded-border"
  >
    <div class="dropdown-left">
      <div
        class="header-icons-right header-icons-dropdown-container theme-border"
      >
        <span class="material-symbols-rounded filled"> Logout </span>
      </div>
      <span class="dropdown-title">Log Out</span>
    </div>
    <span class="material-symbols-rounded filled dropdown-arrow">
      navigate_next
    </span>
  </button>
</div>
