<div id="edit-tab" class="secondary-background rounded-border header-text">
  <form
    [formGroup]="editUserForm"
    (ngSubmit)="onSubmit()"
    id="edit-form"
    class="rounded-border"
  >
    <h1 id="edit-header">Edit profile details</h1>
    <label class="form-label edit-labels"> Profile Photo</label>
    <ngx-dropzone
      (change)="onSelect($event)"
      (removedFile)="onRemove($event)"
      [accept]="'image/png, image/jpeg'"
      class="edit-dropzone rounded-border theme-border"
      id="edit-dropzone"
    >
      <ngx-dropzone-label>+</ngx-dropzone-label>
      @for (f of selectedFiles; track $index) {
      <ngx-dropzone-image-preview
        ngProjectAs="ngx-dropzone-preview"
        [file]="f"
        [removable]="true"
        (removed)="onRemove(f)"
        class="ngx-dropzone-preview"
      >
      </ngx-dropzone-image-preview>
      }
    </ngx-dropzone>
    <label class="edit-description-label form-label edit-labels">
      Profile Description</label
    >
    <div class="relative" id="edit-description">
      <textarea
        title="Description"
        type="text"
        formControlName="description"
        class="form-input rounded-border edit-dropzone"
        [class.input-invalid]="
          editUserForm.get('description')?.touched &&
          editUserForm.get('description')?.invalid
        "
        autocomplete="off"
      ></textarea>
      <div
        *ngIf="editUserForm.get('description')?.hasError('maxlength')"
        class="validation-errors"
      >
        Description must be less than 200 characters
      </div>
    </div>

    <label class="form-label edit-labels"> Current Country</label>
    <div class="relative">
      <input
        title="Country"
        type="text"
        formControlName="country"
        class="form-input rounded-border edit-dropzone"
        [matAutocomplete]="auto"
        [class.input-invalid]="
          editUserForm.get('country')?.touched &&
          editUserForm.get('country')?.invalid
        "
        autocomplete="off"
      />
      <div
        *ngIf="editUserForm.get('country')?.errors?.['invalidCountry']"
        class="validation-errors"
      >
        Invalid Country
      </div>
    </div>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let country of filteredCountries | async"
        [value]="country"
      >
        {{ country }}
      </mat-option>
    </mat-autocomplete>
    <button
      type="submit"
      class="edit-submit reverse-parameters"
      [disabled]="
        editUserForm.invalid ||
        isLoading ||
        (!editUserForm.get('description')?.value?.trim() &&
          !editUserForm.get('country')?.value?.trim() &&
          selectedFiles.length === 0)
      "
    >
      {{ isLoading ? "Loading..." : "Save Changes" }}
    </button>
  </form>
</div>
