#profile-route-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 2em;
}
#profile-routes {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
}
#profile-features {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: 100em;
}
@media (max-width: 1100px) {
  #profile-route-container {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  #profile-features {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (min-device-width: 1000px) and (orientation: portrait) {
  #profile-route-container {
    font-size: 2vw;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  #profile-features {
    width: 100%;
    margin: 0;
  }
}
@media (min-width: 2400px) {
  #profile-route-container {
    font-size: 13px;
  }
}
