<section id="home-section-container">
  <!-- home left -->

  <div id="home-left">
    <app-home-user-card></app-home-user-card>
  </div>

  <!-- home middle -->

  <div id="home-middle">
    <app-upload-post (postUploaded)="onPostUpload($event)"></app-upload-post>
    <div class="home-posts-container">
      <div
        class="posts secondary-background rounded-border box-shadow"
        *ngIf="isLoading"
      >
        <app-post-skeleton></app-post-skeleton>
      </div>
      <div
        *ngIf="!isLoading"
        id="posts-container"
        infiniteScroll
        [infiniteScrollDistance]="0.8"
        [infiniteScrollThrottle]="300"
        (scrolled)="onScroll()"
      >
        <div
          class="posts secondary-background rounded-border box-shadow"
          *ngFor="let post of posts"
        >
          <app-post
            [post]="post"
            (postDeleted)="onPostDelete($event)"
          ></app-post>
        </div>
      </div>
    </div>
  </div>

  <!-- home right -->

  <div id="home-right">
    <app-friend-list></app-friend-list>
  </div>
</section>
