<section id="home-section-container">
  <!-- home left -->

  <div
    id="home-left"
    class="secondary-background rounded-border box-shadow"
  ></div>

  <!-- home middle -->

  <div id="home-middle">
    <app-upload-post (postUploaded)="onPostUpload($event)"></app-upload-post>
    <div class="home-posts-container">
      <div
        class="posts secondary-background rounded-border box-shadow"
        *ngIf="isLoading"
      >
        <app-post-skeleton></app-post-skeleton>
      </div>
      <div
        class="posts secondary-background rounded-border box-shadow"
        *ngFor="let post of posts"
      >
        <app-post [post]="post"></app-post>
      </div>
    </div>
  </div>

  <!-- home right -->

  <div
    id="home-right"
    class="secondary-background rounded-border box-shadow"
  ></div>
</section>
