<section id="home-section-container">
  <!-- home left -->

  <div
    id="home-left"
    class="secondary-background rounded-border box-shadow"
  ></div>

  <!-- home middle -->

  <div id="home-middle">
    <div
      id="upload-post-popup"
      class="secondary-background rounded-border box-shadow"
    >
      <div id="upload-post-popup-top">
        <div
          id="upload-post-popup-img-container"
          class="rounded-border theme-border"
        ></div>
        <input
          id="upload-post-popup-input"
          class="filter-inputs rounded-border"
          title="upload-post-popup"
          type="text"
          placeholder="What's on your mind?"
          readonly
        />
      </div>
      <div id="upload-post-popup-bottom" class="post-counts-borders">
        <div class="post-actions">
          <span class="material-symbols-rounded pen-and-photo-icons">
            edit
          </span>
          <p class="pen-and-photo-text">Express Yourself</p>
        </div>
        <div class="post-actions">
          <span class="material-symbols-rounded pen-and-photo-icons">
            photo
          </span>
          <p class="pen-and-photo-text">Upload a Photo</p>
        </div>
      </div>
    </div>
    <div class="home-posts-container">
      <div
        class="posts secondary-background rounded-border box-shadow"
        *ngIf="isLoading"
      >
        <app-post-skeleton></app-post-skeleton>
      </div>
      <div
        class="posts secondary-background rounded-border box-shadow"
        *ngFor="let post of posts"
      >
        <app-post [post]="post"></app-post>
      </div>
    </div>
  </div>

  <!-- home right -->

  <div
    id="home-right"
    class="secondary-background rounded-border box-shadow"
  ></div>
</section>
