#home-section-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  gap: 2em;
}
#home-left {
  font-family: "Nexa Bold";
  margin-top: 2em;
  width: 47em;
  height: 15em;
  align-self: flex-start;
}

#home-middle {
  margin-top: 2em;
  width: 68em;
}

.home-posts-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
#posts-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 2em;
}
.posts {
  padding: 3em;
}
#home-right {
  margin-top: 2em;
  width: 47em;
  align-self: flex-start;
  font-family: "Nexa Bold";
  position: relative;
}

@media (min-width: 2400px) {
  #home-section-container {
    font-size: 13px;
  }
}
