<div id="nearest-bd-users-list">
  <div id="nearest-bd-header" class="header-text">
    <span class="material-symbols-rounded filled nearest-bd-icon header-text">
      cake
    </span>
    <h1>Upcoming Birthdays:</h1>
  </div>

  <ng-container
    *ngIf="nearestBirthdayUsers$ | async as nearestBirthdayUsers; else loading"
  >
    <div *ngFor="let user of nearestBirthdayUsers" class="friends">
      <app-nearest-bd-user-display [user]="user"></app-nearest-bd-user-display>
    </div>
  </ng-container>

  <!-- Loading indicator -->
  <ng-template #loading>
    <p id="loading-text">Loading...</p>
  </ng-template>
</div>
