<div
  id="profile-features-navbar"
  class="secondary-background rounded-border box-shadow header-text"
>
  <a
    routerLink="/user/{{ username }}/posts"
    routerLinkActive="active-link"
    class="profile-navigation-links bottom-border-active"
  >
    <p class="profile-link-text-container">Posts</p>
  </a>
  <a
    routerLink="/user/{{ username }}/gallery"
    routerLinkActive="active-link"
    class="profile-navigation-links bottom-border-active"
  >
    <p class="profile-link-text-container">Gallery</p>
  </a>
  <a
    *ngIf="!isCurrentUserProfile"
    routerLink="/user/{{ username }}/message"
    routerLinkActive="active-link"
    class="profile-navigation-links bottom-border-active"
  >
    <p class="profile-link-text-container">Message</p>
  </a>
  <a
    *ngIf="isCurrentUserProfile"
    routerLink="/user/{{ username }}/edit"
    routerLinkActive="active-link"
    class="profile-navigation-links bottom-border-active"
  >
    <p class="profile-link-text-container">Edit Info</p>
  </a>
</div>
