#profile-features-navbar {
  display: flex;
  justify-content: center;
  font-family: "Nexa Bold" !important;
}
.profile-navigation-links {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 3em;
  letter-spacing: 0.02em;
  width: 33.3%;
  height: 2.5em;
  border-bottom: 0.15em solid transparent;
}
.profile-link-text-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5%;
  height: 95%;
  width: 100%;
  border-radius: 0.3em;
  transition: all 0.2s ease;
}

@media only screen and (max-width: 900px) {
  #profile-features-navbar {
    border-bottom: 0.1em solid #3a3b3c23;
    border-radius: 0;
  }
}
@media only screen and (max-width: 450px) {
  #profile-features-navbar {
    font-size: 0.8em;
  }
}
