#posts-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1.8em;
  height: 70em;
  overflow-y: auto;
  scrollbar-width: none;

  & h1 {
    font-family: "Nexa Bold";
    font-size: 3.2em;
    margin-top: 2em;
  }
}
#posts-tab::-webkit-scrollbar {
  display: none;
}
#posts-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 2em 0;
  width: 68em;
}
.posts {
  padding: 3em;

  &.skeleton {
    margin-top: 2em;
  }
}

@media (max-width: 900px) {
  #posts-tab {
    width: 100%;
    margin: 0;

    & h1 {
      font-size: 2.5em;
    }
  }
  #posts-container {
    width: 100%;
    font-size: 11px;
    gap: 0.5em;
    margin: 0;
    margin-top: 0.5em;
  }
  .posts {
    width: 100vw;
    padding: 3em 2em;
    border-radius: 0;

    &.skeleton {
      margin-top: 0.5em;
    }
  }
  .posts-skeleton {
    padding: 3em 2em;
    margin-top: 2em;
  }
}
@media only screen and (max-width: 450px) {
  #posts-container {
    font-size: 9px;
  }
}
