#auth-page {
  font-size: 10px;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  background: #f0f2f5;
  z-index: 1000;
  font-family: "Nexa Bold";
  background-image: url("/assets/images/sign-up/login-backgound.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#auth-page-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

#logo-and-subtext {
  height: 65em;
}
app-login-logo {
  font-size: 5em;
}
#subtext-h1 {
  margin-top: 0.8em;
  font-size: 7em;
  padding-left: 0.2em;
  color: #3d3a3a;
}
#connect {
  opacity: 0;
  animation: animateH1 0.6s ease-out forwards 0.5s;
}
#play {
  opacity: 0;
  animation: animateH1 0.6s ease-out forwards 0.9s;
}
#stay {
  opacity: 0;
  animation: animateH1 0.6s ease-out forwards 1.3s;
}
@keyframes animateH1 {
  100% {
    opacity: 0.9;
  }
}
#subtext-h2 {
  opacity: 0;
  margin-top: 0.3em;
  font-size: 5em;
  display: flex;
  justify-content: flex-end;
  padding-right: 0.7em;
  transform: translateX(-2em);
  animation: animateH2 1s ease forwards 2.15s;
  color: #3d3a3a;
}
@keyframes animateH2 {
  0% {
    transform: translateX(-2em);
    opacity: 0;
  }
  40% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
    opacity: 0.65;
  }
}
@media (max-width: 1600px) {
  #subtext-h1 {
    display: none;
  }
  #subtext-h2 {
    display: none;
  }
  #logo-and-subtext {
    height: 30em;
    font-size: 0.5em;
  }
  #auth-page-container {
    flex-direction: column;
  }
}
@media (max-width: 1100px) {
  #auth-page {
    background-image: url("/assets/images/sign-up/login-background-mobile.svg");
  }
}
@media (max-width: 800px) {
  #auth-page-container {
    justify-content: start;
    gap: 5vh;
  }
  #logo-and-subtext {
    margin-top: 5vh;
  }
}
@media (max-width: 550px) {
  #logo-and-subtext {
    font-size: 0.8vw;
  }
}
@media (max-height: 750px) and (orientation: landscape) and (min-width: 1000px) {
  #logo-and-subtext {
    display: none;
  }
}
@media (min-height: 2500px) and (orientation: portrait) {
  #auth-page {
    font-size: 1vh;
  }
  #auth-page-container {
    gap: 5vh;
  }
  #logo-and-subtext {
    position: absolute;
    top: 3vh;
    font-size: 0.45em;
  }
  #subtext-h1 {
    display: flex;
    margin-top: 1.2em;
  }
  #subtext-h2 {
    display: flex;
    margin-top: 0.7em;
  }
  #auth-page-container {
    flex-direction: column;
  }
}
@media (max-width: 1100px) and (min-height: 2000px) and (orientation: portrait) {
  #auth-page {
    background-image: none;
    font-size: 1vh;
  }
  #auth-page-container {
    gap: 5vh;
  }
  #logo-and-subtext {
    position: absolute;
    top: 3vh;
    font-size: 0.4em;
  }
  #subtext-h1 {
    display: flex;
    margin-top: 1.2em;
  }
  #subtext-h2 {
    display: flex;
    margin-top: 0.7em;
  }
  #auth-page-container {
    flex-direction: column;
  }
}
@media (min-width: 2200px) {
  #auth-page {
    font-size: 12px;
  }
  #logo-and-subtext {
    font-size: 1.1em;
    margin-right: 3em;
  }
}
