<div id="auth-page">
  <div id="auth-page-container">
    <div id="logo-and-subtext">
      <app-login-logo></app-login-logo>
      <h1 id="subtext-h1">
        <span id="connect">Connect, </span> <span id="play">Play, </span>
        <span id="stay">Stay</span>
      </h1>
      <h2 id="subtext-h2">That's the PlayLink Way!</h2>
    </div>
    <app-auth-form></app-auth-form>
  </div>
  <!-- this is for loading the icons when the user visits for the first time as soon as possible -->
  <span class="material-symbols-rounded hide"> person </span>
</div>
