<section id="about-site-tab">
  <div
    id="about-site-content-container"
    class="secondary-background rounded-border box-shadow"
  >
    <h1 class="header-text">About PlayLink</h1>
    <p class="about-paragraph-text">
      Welcome to PlayLink, a social media platform that has been worked towards
      since the start of my development journey. I'm Jaka Ambrus, the developer
      and designer behind every aspect of this site. Each step in building
      PlayLink has been an opportunity for learning and growth. Immerse yourself
      in the features of PlayLink, where each element is thoughtfully designed
      to offer a seamless blend of functionality and user experience.
    </p>
    <h2 class="header-text">About Me</h2>
    <div class="text-and-link">
      <p class="about-paragraph-text">
        Hi, I'm Jaka Ambrus, the developer behind PlayLink. With a background in
        Electrical Engineering, I've ventured into web development, where I
        continuously explore and innovate. For more on my projects and
        experience, visit my portfolio.
      </p>
      <a class="about-link theme-border reverse-parameters">Portfolio</a>
    </div>

    <h2 class="header-text">Technical Showcase</h2>
    <h3 class="header-text">GitHub: Technical Deep Dive</h3>
    <div class="text-and-link">
      <p class="about-paragraph-text">
        Visit the PlayLink GitHub repository for a thorough look at the
        project's codebase. Here, you'll find extensive documentation and
        in-depth explanations of the technologies and architectural choices that
        power PlayLink."
      </p>
      <a class="about-link theme-border reverse-parameters" href="#"
        >Codebase</a
      >
    </div>

    <h3 class="header-text">YouTube: Feature & Code Insights</h3>
    <div class="text-and-link">
      <p class="about-paragraph-text">
        Explore PlayLink's functionalities and technical insights on my YouTube
        channel. Discover how each feature operates, including the administrator
        capabilities, and gain an understanding of the technology choices, as
        well as the front and backend architecture that brings PlayLink to life.
      </p>
      <a class="about-link theme-border reverse-parameters" href="#">Video</a>
    </div>
  </div>
</section>
