<div class="comment-container comments-bottom-border" *ngIf="comment">
  <div
    class="comment-user-img-container header-icons-right theme-border rounded-border"
  >
    <img
      *ngIf="comment.profilePictureUrl"
      class="comment-user-img"
      src="{{ comment.profilePictureUrl }}"
      alt="{{ comment.fullName }}"
    />
    <span class="material-symbols-rounded filled comment-icon-person">
      {{ comment.gender === "male" ? "person" : "person_2" }}
    </span>
  </div>
  <div class="comment-content-container">
    <div
      class="comment-name-and-content comments-content-background rounded-border"
    >
      <h1 class="comment-user-name">{{ comment.fullName }}</h1>
      <p class="comment-content">{{ comment.content }}</p>
      <span
        *ngIf="comment.isAuthorized"
        (click)="deleteComment(comment.commentId)"
        class="material-symbols-rounded filled comment-icon-close"
      >
        close
      </span>
    </div>
    <div class="comment-bottom">
      <p class="comment-date">
        {{ comment.timeCommented | timeAgo }}
      </p>
      <div class="comment-likes-container">
        <span
          class="material-symbols-rounded comment-count-icons"
          [ngClass]="{ filled: comment.isLikedByCurrentUser }"
          (click)="toggleLike(comment)"
          >favorite</span
        >
        <p class="comment-likes-count">{{ comment.likesCount }}</p>
      </div>
    </div>
  </div>
</div>
