#header-notifications {
  font-family: "Nexa Bold";
  width: 36em;
  position: absolute;
  left: -30em;
  top: 5.5em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.5em;
  z-index: 1000;

  & h1 {
    font-size: 1.8em;
    letter-spacing: 0.05em;
  }

  #no-requests {
    font-family: "Nexa Light";
    font-size: 1.4em;
    letter-spacing: 0.05em;
  }
}
.notifications {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em 0;
  justify-content: center;
}
.pending-request {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar-time-name {
  display: flex;
  gap: 1em;
  align-items: center;
}
.notifications-user-avatar {
  flex-shrink: 0;
  font-size: 0.8em;
  height: 5.2em;
  width: 5.2em;
}
.time-name {
  display: flex;
  flex-direction: column;
  gap: 0.2em;

  & h2 {
    font-size: 1.4em;
    letter-spacing: 0.05em;
  }
  & p {
    font-size: 1.2em;
    letter-spacing: 0.05em;
  }
}
.accept-decline {
  display: flex;
  gap: 0.5em;
}
.accept-decline-button {
  font-size: 1.4em;
  letter-spacing: 0.05em;
  font-family: "Nexa Light";
  padding: 0.6em;
  border-radius: 0.5em;

  &.decline {
    opacity: 0.8;
  }
}
.avatar-accepted-or-declined {
  display: flex;
  gap: 1em;
  align-items: center;
  font-family: "Nexa Bold";

  & h2 {
    text-align: start;
    font-size: 1.4em;
    letter-spacing: 0.05em;
  }

  & p {
    font-size: 1.2em;
    letter-spacing: 0.05em;
  }
}
@media (max-width: 600px) {
  #header-notifications {
    left: -20em;
  }
}
@media (max-width: 450px) {
  #header-notifications {
    left: -22em;
    font-size: 1.18em;
  }
}
