<section id="profile-route-container" [@ProfileAnimation] *ngIf="user">
  <div
    id="user-profile-details-container"
    class="secondary-background rounded-border box-shadow"
  >
    <div
      id="profile-picture-container"
      class="theme-border rounded-border header-icons-right"
    >
      <img
        *ngIf="user.profilePictureUrl"
        src="{{ user.profilePictureUrl }}"
        alt="{{ user.fullName }}'s picture"
        id="profile-img"
      />
      <span class="material-symbols-rounded filled card-img">
        {{ user.gender === "male" ? "person" : "person_2" }}
      </span>
    </div>
    <h1 class="for-now-1">{{ user.fullName }}</h1>
    <h1 class="for-now">About Me</h1>
    <p class="for-now">{{ user.description }}</p>
    <h1 class="for-now">LOCATION</h1>
    <p class="for-now">{{ user.country }}</p>
    <h1 class="for-now">Birthday</h1>
    <p class="for-now">{{ user.dateOfBirth.split("-").join("/") }}</p>
    <div *ngIf="!isCurrentUserProfile" id="button-container">
      <button
        class="theme-border rounded-border box-shadow for-now-buttons reverse-parameters"
        [routerLink]="['/user', user.username]"
      >
        <span class="for-now">Add Friend</span>
      </button>
      <button
        class="theme-border rounded-border box-shadow for-now-buttons reverse-parameters"
        [routerLink]="['/user', user.username, 'edit']"
      >
        <span class="for-now">Message</span>
      </button>
    </div>
  </div>
  <div id="profile-features">
    <div
      id="profile-features-navbar"
      class="secondary-background rounded-border"
    >
      <a
        routerLink="/user/{{ user.username }}/posts"
        routerLinkActive="active-link"
        class="profile-navigation-links bottom-border-active"
      >
        <p class="profile-link-text-container">Posts</p>
      </a>
      <a
        routerLink="/user/{{ user.username }}/gallery"
        routerLinkActive="active-link"
        id="gallery-link"
        class="profile-navigation-links bottom-border-active"
      >
        <p class="profile-link-text-container">Gallery</p>
      </a>
      <a
        *ngIf="!isCurrentUserProfile"
        routerLink="/user/{{ user.username }}/message"
        routerLinkActive="active-link"
        class="profile-navigation-links bottom-border-active"
      >
        <p class="profile-link-text-container">Message</p>
      </a>
      <a
        *ngIf="isCurrentUserProfile"
        routerLink="/user/{{ user.username }}/edit"
        routerLinkActive="active-link"
        class="profile-navigation-links bottom-border-active"
      >
        <p class="profile-link-text-container">Edit Info</p>
      </a>
    </div>

    <div [@routeAnimations]="prepareRoute(outlet)" id="profile-routes">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</section>
