#profile-route-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 2em;
}
#profile-routes {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
}
#user-profile-details-container {
  margin-top: 2vh;
  padding: 3.5em;
  width: 42em;
  align-self: flex-start;
}
#profile-picture-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 35em;
  width: 35em;
  overflow: hidden;
  border: 0.3em solid #3d3a3a;
  border-radius: 50%;
}
#profile-img {
  position: absolute;
  height: 100%;
  width: 100%;
}
.material-symbols-rounded.filled {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 40;
}
.card-img {
  font-size: 45em;
}
.for-now-1 {
  font-size: 3em;
  margin: 0.8em 0;
}
.for-now {
  margin: 0.5em 0;
  font-size: 2em;
}
#button-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}
.for-now-buttons {
  display: flex;
  justify-content: center;
  width: 17em;
}
#profile-features {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  width: 100em;
}
#profile-features-navbar {
  display: flex;
  justify-content: center;
  font-family: "Nexa Bold" !important;
}
.profile-navigation-links {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 3em;
  letter-spacing: 0.02em;
  width: 33.1%;
  height: 2.5em;
  border-bottom: 0.15em solid transparent;
}
.profile-link-text-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5%;
  height: 95%;
  width: 100%;
  border-radius: 0.3em;
  transition: all 0.2s ease;
}
@media (min-width: 2400px) {
  #profile-route-container {
    font-size: 12px;
  }
}
