<section id="profile-route-container" [@ProfileAnimation] *ngIf="user">
  <app-profile-user-card
    [user]="user"
    [isCurrentUserProfile]="isCurrentUserProfile"
  ></app-profile-user-card>
  <div id="profile-features">
    <app-profile-navigation
      [username]="user.username"
      [isCurrentUserProfile]="isCurrentUserProfile"
    ></app-profile-navigation>

    <div [@routeAnimations]="prepareRoute(outlet)" id="profile-routes">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</section>
