<div
  id="online-users-list"
  *ngIf="onlineUsers$ | async as onlineUsers; else loading"
>
  <h1 id="online-list-count" class="header-text">
    Online Users: {{ onlineUsers.length }}
  </h1>

  <p *ngIf="onlineUsers.length === 0" id="no-users-online">
    Currently you are the only active user
  </p>

  <div *ngFor="let onlineUser of onlineUsers">
    <app-online-user-display [user]="onlineUser"></app-online-user-display>
  </div>
</div>
<ng-template #loading>
  <h1 class="header-text">Online Users Loading...</h1>
</ng-template>
