#online-users-list {
  display: flex;
  flex-direction: column;

  #online-list-count {
    font-family: "Nexa Bold";
    font-size: 3.2em;
    padding: 0.5em 0;
    text-align: center;
  }

  #no-users-online {
    font-size: 1.8em;
    padding: 1em 0;
    text-align: center;
    font-family: "Roboto Regular";
  }
}

.online-users-loading {
  font-family: "Nexa Bold";
  font-size: 3.2em;
  padding-top: 0.5em;
  padding-bottom: 3em;
  text-align: center;
}
