.message-content-container {
  font-family: "Roboto Regular";
  display: flex;
  gap: 1.2em;
  padding: 1em;
  padding-top: 0;
  margin-top: 1.5em;

  &.current-user {
    flex-direction: row-reverse;
  }
}
#pm-user-avatar {
  flex-shrink: 0;
  margin-top: 0.1em;
  height: 5.2em;
  width: 5.2em;
}
.sender-message-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3em;
  padding: 1em 2em;
}
.sender-name-and-time {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1.2em;
}
.sender-message-content {
  font-size: 1.6em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.sender-message-date {
  text-align: end;
  opacity: 0.6;
  font-size: 1.2em;
  margin-top: 0.2em;
}
