.liked-users-list-container {
  display: flex;
  flex-direction: column;
  max-height: 8em;
  overflow-y: auto;
  scrollbar-width: none;

  .liked-users {
    font-family: "Roboto Regular";
    font-size: 1em;
    padding: 0.5em;
  }

  .liked-users:last-child {
    border-bottom: none;
  }
}
.liked-users-list-container::-webkit-scrollbar {
  display: none;
}
