:host {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nexa Bold";
}
.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#error-404 {
  font-size: 15em;
  height: 1em;
}
#not-found-header {
  font-size: 4em;
}
#not-found-subtext {
  margin-top: 0.5em;
  font-size: 2em;
}
#go-home-link {
  font-size: 3em;
  padding: 0.5em 3em;
  margin-top: 0.5em;
}
@media (min-height: 2500px) and (orientation: portrait) {
  .not-found-container {
    font-size: 2.5em;
  }
}
@media (max-width: 1100px) and (min-height: 2000px) and (orientation: portrait) {
  .not-found-container {
    font-size: 2em;
  }
}
@media (max-width: 500px) {
  .not-found-container {
    font-size: 0.8em;
  }
}
