<section id="discover-section-container">
  <div
    id="discover-middle"
    class="secondary-background rounded-border box-shadow"
  >
    <h1 id="matched-users">Matched Users - 6 found</h1>
    <div id="discover-cards-container">
      <div
        *ngFor="
          let user of users
            | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: pageNumber,
                  totalItems: pagination?.totalItems
                }
        "
      >
        <app-user-card [user]="user"></app-user-card>
      </div>
    </div>
    <div id="paginator">
      <pagination-controls
        class="pagination-controls"
        (pageChange)="pageChanged($event)"
        (pageBoundsCorrection)="pageChanged($event)"
        previousLabel="<"
        nextLabel=">"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"
      >
        ></pagination-controls
      >
    </div>
  </div>
</section>
