@if (message) {
  <a
    routerLink="{{
      container === 'Outbox'
        ? '/user/' + message.recipientUsername + '/message'
        : '/user/' + message.senderUsername + '/message'
    }}"
    class="message-container theme-border-bottom"
  >
    <app-user-avatar
      id="message-user-avatar"
      [profilePictureUrl]="message.senderProfilePictureUrl"
      [fullName]="message.senderFullName"
      [gender]="message.senderGender"
    ></app-user-avatar>

    <div class="message-content-container">
      <h1 class="message-user-name">
        {{ message.senderFullName }}
      </h1>
      <p class="message-content">
        {{ message.content | limitText : 60 }}
      </p>
      <p class="message-date">
        {{ message.privateMessageSent | relativeTime }}
      </p>
    </div>
  </a>
  @if (container !== 'Unread') {
    <button
      type="button"
      (click)="deleteMessage(message.privateMessageId)"
      [disabled]="isLoading"
      class="delete-message-button"
    >
    @if (isLoading) {
      <div class="spinner-container">
        <app-spinner></app-spinner>
      </div>
    } @else {
      <span
        class="material-symbols-rounded filled message-icon-close"
      >
        close
      </span>
    }
    </button>
  }
}