#posts-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1.8em;
  margin-bottom: 2vh;
  height: 70em;
  overflow-y: scroll;
}
#posts-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
  width: 68em;
}
#home-posts-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.posts {
  padding: 3em;
}
