#posts-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1.8em;
  margin-bottom: 2vh;
  height: 70em;
  overflow-y: scroll;

  & h1 {
    font-size: 4.2em;
    font-weight: 600;
    margin-top: 2em;
  }
}
#posts-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 2em 0;
  width: 68em;
}
.posts {
  padding: 3em;
}
