#quiz-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 42em;
  font-family: "Nexa Bold";
}
#quiz-start-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  #start-quiz {
    font-size: 3.2em;
    padding: 0.5em 2em;
    border-radius: 0.25em;
    margin-top: 3em;
  }

  h1 {
    position: absolute;
    top: 0.6em;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 8em;
  }
}
#quiz-started-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 1em;

  h1 {
    height: 3em;
    font-size: 2.4em;
    text-align: center;
  }
  p {
    display: flex;
    align-items: center;
    height: 4.1em;
    font-size: 1.8em;
    text-align: center;
  }
}
.quiz-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2.2em;
  padding: 0.5em 0em;
}

button.correct {
  background-color: green;
}

button.incorrect {
  background-color: red;
}
button:disabled {
  cursor: default;
}
#show-answer-button-container {
  margin-top: 1em;
  width: 100%;
  height: 5.2em;
}

#quiz-ended {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1em;

  h1 {
    font-size: 6em;
    text-align: center;
  }
  p {
    margin-top: 0.2em;
    font-size: 8em;
    text-align: center;
  }
  button {
    width: 80%;
    margin-top: 1em;
    font-size: 3.2em;
    padding: 0.5em 1em;
  }
}
