<section id="admin-tab">
  <div
    id="admin-panel-content-container"
    class="secondary-background rounded-border border-shadow"
  >
    <h1 id="admin-tab-header" class="header-text">Administrator Panel</h1>
    <h2 id="user-count">
      Total Website Users: {{ pagination?.totalItems ?? 0 }}
    </h2>
    @for(user of users | paginate : { itemsPerPage: pageSize, currentPage:
    pageNumber, totalItems: pagination?.totalItems }; track user.appUserId){
    <div class="admin-users">
      <app-admin-user-display [user]="user"></app-admin-user-display>
    </div>
    }
    <div id="paginator">
      <pagination-controls
        class="pagination-controls logo-text-theme"
        (pageChange)="pageChanged($event)"
        (pageBoundsCorrection)="pageChanged($event)"
        previousLabel="<"
        nextLabel=">"
        [maxSize]="6"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"
      >
        ></pagination-controls
      >
    </div>
  </div>
</section>
