<div *ngIf="user" class="admin-user-display-container theme-border-bottom">
  <a routerLink="/user/{{ user.username }}" class="username-and-avatar">
    <app-user-avatar
      class="admin-user-avatar"
      [profilePictureUrl]="user.profilePictureUrl"
      [fullName]="user.fullName"
      [gender]="user.gender"
    ></app-user-avatar>
    <h2 class="admin-user-fullname">{{ user.fullName }}</h2>
  </a>
  <button
    *ngIf="user.isModerator"
    (click)="editRole(user.appUserId)"
    class="role-edit primary parameters theme-border header-text box-shadow"
  >
    Moderator
  </button>
  <button
    *ngIf="!user.isModerator"
    (click)="editRole(user.appUserId)"
    class="role-edit reverse-parameters"
  >
    Member
  </button>

  <button class="delete-user-button rounded-border">Delete</button>
</div>
