<div class="auth-container" [ngClass]="{ 'register-state': !formStateLogin }">
  <div class="tabs">
    <button
      type="button"
      [ngClass]="{ 'active-form': formStateLogin }"
      class="tab form-buttons"
      (click)="toggleFormStateLogin()"
    >
      Sign In
    </button>
    <button
      type="button"
      [ngClass]="{ 'active-form': !formStateLogin }"
      class="tab form-buttons"
      (click)="toggleFormStateRegister()"
    >
      Sign Up
    </button>
  </div>
  @if (formStateLogin) {
    <app-login></app-login>
  } @else {
    <app-register (exitRegistration)="toggleFormStateLogin()"></app-register>
  }
</div>
