<div class="post-container">
  <div class="post-top">
    <div class="post-header">
      <div
        class="post-user-img-container header-icons-right theme-border rounded-border"
      >
        <span class="material-symbols-rounded filled post-icon-person">
          {{ loadingError ? "warning" : "person" }}
        </span>
      </div>
      <div class="post-user-name-and-date">
        <h1 class="post-user-name">
          {{ loadingError ? "Error Loading User Info" : "Loading user..." }}
        </h1>
        <p class="post-date">00/00/0000</p>
      </div>
    </div>
  </div>
  <div class="post-description">
    {{ loadingError ? "Try refreshing the website" : "Loading user..." }}
  </div>
  <div class="photo-placeholder primary-parameters rounded-border"></div>
  <div class="post-likes-and-comments-count">
    <div class="post-likes-count">0 Likes</div>
    <div class="post-comments-count">0 Comments</div>
  </div>
  <div class="post-bottom post-counts-borders">
    <div class="post-actions">
      <span class="material-symbols-rounded post-count-icons"> favorite </span>
      <p class="post-count">Like</p>
    </div>
    <div class="post-actions">
      <span class="material-symbols-rounded post-count-icons"
        >mode_comment</span
      >
      <p class="post-count">Comment</p>
    </div>
  </div>
</div>
