<header id="header-main-container" class="secondary-background">
  <div id="header-container">
    <app-header-logo [theme]="theme"></app-header-logo>
    <app-header-nav-links class="top-links"></app-header-nav-links>
    <div id="header-right">
      <div class="header-icons-right header-icons-right-container">
        <span class="material-symbols-rounded filled"> notifications </span>
      </div>
      <div
        (click)="handleClick()"
        class="header-icons-right header-icons-right-container"
      >
        <span class="material-symbols-rounded filled">
          {{ theme === "theme-light" ? "light_mode" : "dark_mode" }}
        </span>
      </div>
      <div
        class="header-icons-right header-icons-right-container dropdown"
        (click)="toggleDropdown()"
      >
        <span class="material-symbols-rounded thicker-icon"> person </span>
        <app-header-dropdown
          *ngIf="isDropdownOpen"
          [username]="username"
        ></app-header-dropdown>
      </div>
    </div>
  </div>
  <app-header-nav-links
    class="mobile-links secondary-background"
  ></app-header-nav-links>
</header>

<!-- Admin panel route navigation -->

<a
  routerLink="/admin"
  *ngIf="isAdmin"
  class="higher-roles-container secondary-background theme-border"
>
  <span class="material-symbols-rounded thicker-icon header-text">
    shield_person
  </span>
</a>

<!-- Moderator indicator -->

<div
  *ngIf="isModerator && !isAdmin"
  class="higher-roles-container secondary-background theme-border box-shadow"
>
  <span class="material-symbols-rounded thicker-icon header-text">
    local_police
  </span>
</div>
