<header id="header-main-container" class="secondary-background">
  <div id="header-container">
    <!-- Header Logo -->
    <app-header-logo [theme]="theme"></app-header-logo>

    <!-- Navigation Links -->
    <app-header-nav-links class="top-links"></app-header-nav-links>

    <!-- Header Right -->
    <div id="header-right">
      <div
        id="header-notifications-container"
        class="header-icons-right header-icons-right-container"
      >
        <!-- notifications -->
        <button
          id="notifications-button"
          type="button"
          (click)="toggleNotifications()"
        >
          <span class="material-symbols-rounded filled"> notifications </span>

          @if(friendRequests.length > 0){
          <div id="notification-count" class="reverse-parameters">
            {{ friendRequests.length }}
          </div>
          }
        </button>
        <app-header-notifications
          class="notifications"
          [friendRequests]="friendRequests"
          (requestDeleted)="onRequestDelete($event)"
          [class.open]="isNotificationsOpen"
        ></app-header-notifications>
      </div>

      <!-- theme -->
      <button
        type="button"
        (click)="handleClick()"
        class="header-icons-right header-icons-right-container"
      >
        <span class="material-symbols-rounded filled">
          {{ theme === "theme-light" ? "light_mode" : "dark_mode" }}
        </span>
      </button>

      <!-- dropdown -->
      <button
        type="button"
        class="header-icons-right header-icons-right-container dropdown"
        (click)="toggleDropdown()"
      >
        <span class="material-symbols-rounded thicker-icon header-avatar">
          {{ isModerator ? "shield_person" : "person" }}
        </span>
        <app-header-dropdown
          class="header-dropdown"
          [class.open]="isDropdownOpen"
          [username]="username"
        ></app-header-dropdown>
      </button>
    </div>
  </div>

  <!-- Navigation Links for responsive design -->
  <app-header-nav-links
    class="mobile-links secondary-background"
  ></app-header-nav-links>
</header>

<!-- Admin panel route navigation -->
@if (isAdmin) {
<a
  routerLink="/admin"
  class="higher-roles-container secondary-background theme-border"
>
  <span class="material-symbols-rounded thicker-icon header-text">
    shield_person
  </span>
</a>
}
