:host {
  height: 100%;
}

#header-navigation {
  display: flex;
  height: 100%;
}
.navigation-links-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 16em;
  border-bottom: 0.3em solid transparent;
}
.navigation-links-icons-container {
  height: 90%;
  width: 100%;
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
}
.navigation-icons {
  font-size: 4em;
}
@media (max-width: 1100px) {
  .navigation-links-container {
    width: 25vw;
  }
}
@media (min-height: 2500px) and (orientation: portrait) {
  .navigation-links-container {
    width: 25vw;
  }
}
